<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.chcook">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cookishlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen" android:theme="@style/AppTheme.SplashTheme">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".YangJie.showIncomeStatus"></activity>
        <activity android:name=".YangJie.ForgetPassword" />
        <activity android:name=".YangJie.ShowBanUser" />
        <activity android:name=".YangJie.ShowBanVideo" />
        <activity android:name=".YangJie.StaffLogin" />
        <activity android:name=".YangJie.StaffMainPage" />
        <activity android:name=".KahHeng.EndUser.EditVideoInfo" />
        <activity android:name=".KahHeng.EndUser.Pay" />
        <activity android:name=".KahHeng.EndUser.MainPage" />
        <activity android:name=".KahHeng.EndUser.Registration" />
        <activity android:name=".KahHeng.EndUser.Login">

        </activity>
        <activity android:name=".KahHeng.EndUser.MainActivity" />
    </application>

</manifest>